<div id="plant1-section3" class="bottom-sections">
    <p style="margin-top: 20px;">P1 Store Layout</p>
    <div class="container">
        <div class="item" id="box">
            <p>Trolley Availability</p>
            <div class="circle">100</div>
        </div>
        <div class="item" id="security">
            <p>Security</p>
            <div class="container">
                <div class="circle"><b>In:</b>&nbsp;100</div>
                <div class="circle"><b>Out:</b>&nbsp;100</div>
            </div>
        </div>
        <div class="item" id="box">
            <p style="margin-top: 15px;">P1 Plastic Stores</p>
            <div class="dock24">1D24</div>
        </div>
    </div>
    <p>P1 Vehicle Stores</p>
    <div class="container">
        <div class="p1vehstores">
            <div class="docks">
                <div class="rectangle">1D02</div>
                <div class="rectangle">1D03</div>
                <div class="rectangle">1D04</div>
                <div class="rectangle">1D05</div>
                <div class="rectangle">1D06</div>
            </div>
            <div class="docks2">
                <div class="rectangle">1D07</div>
                <div class="rectangle">1D08</div>
                <div class="rectangle">1D09</div>
                <div class="rectangle">1D10</div>
                <div class="rectangle">1D11</div>
            </div>
        </div>
    </div>
    <p>P1 Engine Stores</p>
    <div class="container">
        <div class="p1vehstores">
            <div class="docks">
                <div class="rectangle">1D13</div>
                <div class="rectangle">1D14</div>
                <div class="rectangle">1D15</div>
                <div class="rectangle">1D16</div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="p1vehstores">
            <div class="docks">
                <div class="rectangle" style="background-color: green;">Available</div>
                <div class="rectangle" style="background-color: red;">Allocated</div>
                <div class="rectangle" style="background-color: orange;">Reserved</div>
            </div>
        </div>
    </div>
</div>
