    
<div class="plant"><p>Plant 1 Vehicle Stores</p></div>

<div class="labels">
    <span id="1D02">1D02</span>
    <span id="1D03">1D03</span>
    <span id="1D04">1D04</span>
    <span id="1D05">1D05</span>
    <span id="1D06">1D06</span>
    <span id="1D07">1D07</span>
    <span id="1D08">1D08</span>
    <span id="1D09">1D09</span>
    <span id="1D10">1D10</span>
    <span id="1D11">1D11</span>
</div>

<div class="docks">
    <div id="1d02"><a href="">AVAILABLE</a></div>
    <div id="1d03"><a href="">AVAILABLE</a></div>
    <div id="1d04"><a href="">AVAILABLE</a></div>
    <div id="1d05"><a href="">AVAILABLE</a></div>
    <div id="1d06"><a href="">AVAILABLE</a></div>
    <div id="1d07"><a href="">AVAILABLE</a></div>
    <div id="1d08"><a href="">AVAILABLE</a></div>
    <div id="1d09"><a href="">AVAILABLE</a></div>
    <div id="1d10"><a href="">AVAILABLE</a></div>
    <div id="1d11"><a href="">AVAILABLE</a></div>
</div>


