<div id="plant1-section3" class="bottom-sections">
    

<p style="margin-top: 20px;">P2 Store Layout</p>
<div class="container">
    <div class="item" id="box">
        <p>Trolley Availability</p>
        <div class="circle">100</div>
    </div>
    <div class="item" id="security">
        <p>Security</p>
        <div class="container">
            <div class="circle"><b>In:</b>&nbsp;100</div>
            <div class="circle"><b>Out:</b>&nbsp;100</div>
        </div>
    </div>
    <div class="container">
        <div class="p1vehstores">
            <div class="docks">
                <div class="rectangle" style="background-color: green;">Available</div>
                <div class="rectangle" style="background-color: red;">Allocated</div>
                <div class="rectangle" style="background-color: orange;">Reserved</div>
            </div>
        </div>
    </div>
</div>
<p>P2 Vehicle Stores</p>
<div class="container">
    <div class="p1vehstores">
        <div class="docks">
            <div class="rectangle">2D01</div>
            <div class="rectangle">2D02</div>
            <div class="rectangle">2D03</div>
            <div class="rectangle">2D04</div>
            <div class="rectangle">2D05</div>
        </div>
    <br/>
        <div class="docks">
            <div class="rectangle">2D10</div>
            <div class="rectangle">2D11</div>
            <div class="rectangle">2D12</div>
            <div class="rectangle">2D13</div>
            <div class="rectangle">2D14</div>
            <div class="rectangle">2D15</div>
            <div class="rectangle">2D16</div>
        </div>
    </div>
</div>
<br/>
<p>P2 Engine Stores</p>
<div class="container">
    <div class="p1vehstores">
        <div class="docks">
            <div class="rectangle">2D06</div>
            <div class="rectangle">2D07</div>
            <div class="rectangle">2D08</div>
            <div class="rectangle">2D09</div>
        </div>
    </div>
</div>
<br/>
<p>P2 CKD Stores</p>
<div class="container">
    <div class="p1vehstores">
        <div class="docks">
            <div class="rectangle">2D17</div>
            <div class="rectangle">2D18</div>
            <div class="rectangle">2D19</div>
            <div class="rectangle">2D20</div>
            <div class="rectangle">2D21</div>
            <div class="rectangle">2D22</div>
            <div class="rectangle">2D23</div>
        </div>
    </div>
</div>
<br/>
<p>P2 Frame & Paint Stores</p>
<div class="container">
    <div class="p1vehstores">
        <div class="docks">
            <div class="rectangle">2D24</div>
            <div class="rectangle">2D25</div>
            <div class="rectangle">2D26</div>
            <div class="rectangle">2D27</div>
            <div class="rectangle">2D28</div>
            <div class="rectangle">2D29</div>
        </div>
    </div>
</div>


</div>
