
<div class="docks">
    <div id="1d16"><a href="">AVAILABLE</a></div>
    <div id="1d15"><a href="">AVAILABLE</a></div>
    <div id="1d14"><a href="">AVAILABLE</a></div>
    <div id="1d13"><a href="">AVAILABLE</a></div>
    </div>
    
    <div class="labels">
        <span id="1D16">1D16</span>
        <span id="1D15">1D15</span>
        <span id="1D14">1D14</span>
        <span id="1D13">1D13</span>
    </div>
    
    <div class="plant"><p>Plant 1 Engine Stores</p></div>
    