
<div class="docks">
    <div id="2d01"><a href="">AVAILABLE</a></div>
    <div id="2d02"><a href="">AVAILABLE</a></div>
    <div id="2d03"><a href="">AVAILABLE</a></div>
    <div id="2d04"><a href="">AVAILABLE</a></div>
    <div id="2d05"><a href="">AVAILABLE</a></div>
    </div>
    
    <div class="labels">
        <span id="2D01">2D01</span>
        <span id="2D02">2D02</span>
        <span id="2D03">2D03</span>
        <span id="2D04">2D04</span>
        <span id="2D05">2D05</span>
    </div>
    
    <div class="plant"><p>Plant 2 Vehicle Stores</p></div>
    