
<div class="docks">
    <div id="2d10"><a href="">AVAILABLE</a></div>
    <div id="2d11"><a href="">AVAILABLE</a></div>
    <div id="2d12"><a href="">AVAILABLE</a></div>
    <div id="2d13"><a href="">AVAILABLE</a></div>
    <div id="2d14"><a href="">AVAILABLE</a></div>
    <div id="2d15"><a href="">AVAILABLE</a></div>
    <div id="2d16"><a href="">AVAILABLE</a></div>
    </div>
    
    <div class="labels">
        <span id="2D10">2D10</span>
        <span id="2D11">2D11</span>
        <span id="2D12">2D12</span>
        <span id="2D13">2D13</span>
        <span id="2D14">2D14</span>
        <span id="2D15">2D15</span>
        <span id="2D16">2D16</span>
    </div>
    
    <div class="plant"><p>Plant 2 Vehicle Stores</p></div>
    