
<div class="docks">
    <div id="2d17"><a href="">AVAILABLE</a></div>
    <div id="2d18"><a href="">AVAILABLE</a></div>
    <div id="2d19"><a href="">AVAILABLE</a></div>
    <div id="2d20"><a href="">AVAILABLE</a></div>
    <div id="2d21"><a href="">AVAILABLE</a></div>
    <div id="2d22"><a href="">AVAILABLE</a></div>
    <div id="2d23"><a href="">AVAILABLE</a></div>
    </div>
    
    <div class="labels">
        <span id="2D17">2D17</span>
        <span id="2D18">2D18</span>
        <span id="2D19">2D19</span>
        <span id="2D20">2D20</span>
        <span id="2D21">2D21</span>
        <span id="2D22">2D22</span>
        <span id="2D23">2D23</span>
    </div>
    
    <div class="plant"><p>Plant 2 CKD Stores</p></div>
    