
<div class="docks">
    <div id="2d24"><a href="">AVAILABLE</a></div>
    <div id="2d25"><a href="">AVAILABLE</a></div>
    <div id="2d26"><a href="">AVAILABLE</a></div>
    <div id="2d27"><a href="">AVAILABLE</a></div>
    <div id="2d28"><a href="">AVAILABLE</a></div>
    <div id="2d29"><a href="">AVAILABLE</a></div>
    </div>
    
    <div class="labels">
        <span id="2D24">2D24</span>
        <span id="2D25">2D25</span>
        <span id="2D26">2D26</span>
        <span id="2D27">2D27</span>
        <span id="2D28">2D28</span>
        <span id="2D29">2D29</span>
    </div>
    
    <div class="plant"><p>Plant 2 Frame & Paint Stores</p></div>
    