<div id="plant1-section3" class="bottom-sections">
    <p style="margin-top: 20px;">P3 Store Layout</p>
    <div class="container" style="margin-top: 30px;">
        <div class="item" id="box">
            <p>Trolley Availability</p>
            <div class="circle">100</div>
        </div>
        <div class="item" id="security">
            <p>Security</p>
            <div class="container">
                <div class="circle"><b>In:</b>&nbsp;100</div>
                <div class="circle"><b>Out:</b>&nbsp;100</div>
            </div>
        </div>
    </div>
    <br/>
    <p>P3 EV Stores</p>
    <div class="container">
        <div class="p1vehstores">
            <div class="docks">
                <div class="rectangle">3D01</div>
                <div class="rectangle">3D02</div>
                <div class="rectangle">3D03</div>
            </div>
        </div>
    </div>
    <div class="container" style="margin-top: 50px;">
        <div class="p1vehstores">
            <div class="docks">
                <div class="rectangle" style="background-color: green;">Available</div>
                <div class="rectangle" style="background-color: red;">Allocated</div>
                <div class="rectangle" style="background-color: orange;">Reserved</div>
            </div>
        </div>
    </div>
</div>